/*@tailwind base;*/

/*@layer base {*/
/*    html {*/
/*        @apply text-green-900;*/
/*    }*/
/*}*/



/*@tailwind components;*/
@tailwind utilities;


button.btn-custom {
    border: none;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    height: 25px;
    min-width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(../../public/css/images/bg_btn.png) repeat-x 0 -75px;

    line-height: 1;

}

.sub-head {
    font-weight: 700;
    color: white;
    font-size: 16px !important;
}

.main-head {
    font-weight: 400;
    color: #bebebe;
}
