/*@tailwind base;*/

/*@layer base {*/
/*    html {*/
/*        @apply text-green-900;*/
/*    }*/
/*}*/



/*@tailwind components;*/
@tailwind utilities;


button.btn-custom {
    border: none;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    /*height: 25px;*/
    min-width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background: url(/build/assets/bg_btn-118ac70f.png) repeat-x 0 -91px; */
    line-height: 2;
    font-size: 1.5rem;
    height: 44px;
    /* border: 1px solid grey; */
    /* border-radius: 9px; */
    background-color: #b50e65;

}

.sub-head {
    font-weight: 700;
    color: white;
    font-size: 16px !important;
}

.main-head {
    font-weight: 400;
    color: #bebebe;
}
